src/main/mule/covereportsapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="dddc5569-5b04-40ba-9dae-b2640cb44c0c" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="covereportsapiFlow" doc:id="8e0f0256-ba0b-49f6-b156-debc36154ecb" >
		<http:listener doc:name="Listener" doc:id="78d7dabe-83d5-4272-a469-d77626c88482" config-ref="HTTP_Listener_config" path="reports/generate"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9e1616f3-be14-4c92-851d-9bba39444257" />
	</flow>
</mule>
